# Exploring the data
Let's import pandas and the db_utils code we've written.

In [4]:
import db_utils as dbu
import pandas as pd

Now we can set up a dataframe from the csv file.

In [5]:
df = dbu.csv_to_df('loan_payments.csv')

Let's have a quick look at the data.

In [6]:
print(df.head())

         id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0  38676116   41461848         8000         8000.0             8000.0
1  38656203   41440010        13200        13200.0            13200.0
2  38656154   41439961        16000        16000.0            16000.0
3  38656128   41439934        15000        15000.0            15000.0
4  38656121   41439927        15000        15000.0            15000.0

        term  int_rate  instalment grade sub_grade  ... recoveries  \
0  36 months      7.49      248.82     A        A4  ...        0.0
1  36 months      6.99      407.52     A        A3  ...        0.0
2  36 months      7.49      497.63     A        A4  ...        0.0
3  36 months     14.31      514.93     C        C4  ...        0.0
4  36 months      6.03      456.54     A        A1  ...        0.0

  collection_recovery_fee  last_payment_date last_payment_amount  \
0                     0.0           Jan-2022              248.82
1                     0.0           Jan-2022              407.52
2                     0.0           Oct-2021            12850.16
3                     0.0           Jun-2021            13899.67
4                     0.0           Jan-2022              456.54

  next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0          Feb-2022              Jan-2022                        0.0
1          Feb-2022              Jan-2022                        0.0
2               NaN              Oct-2021                        0.0
3               NaN              Jun-2021                        0.0
4          Feb-2022              Jan-2022                        0.0

  mths_since_last_major_derog  policy_code  application_type
0                         5.0            1        INDIVIDUAL
1                         NaN            1        INDIVIDUAL
2                         NaN            1        INDIVIDUAL
3                         NaN            1        INDIVIDUAL
4                         NaN            1        INDIVIDUAL

[5 rows x 43 columns]

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 18.2+ MB
None

We can see that 'term' is an object when it makes more sense for it just to be the number of months.  We can use the DataTransform class to fix this.  Let's create an instance of the class with the dataframe.

In [8]:
transform = dbu.DataTransform(df)

We can now split off the number of months as a new column.

In [9]:
transform.extract_numerical('term')

Column 'term_numerical' created with numerical values extracted from 'term'.

Let's check it worked.

In [14]:
df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,term_numerical
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,2022-01-01,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL,1970-01
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,2022-01-01,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL,1970-01
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,2021-10-01,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL,1970-01
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,2021-06-01,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL,1970-01
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,2022-01-01,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL,1970-01

Next let's try to format all the date columns as dates.

In [15]:
transform.format_to_date("last_payment_date")
transform.format_to_date("issue_date")
transform.format_to_date("earliest_credit_line")
transform.format_to_date("next_payment_date")
transform.format_to_date("last_credit_pull_date")

Column 'last_payment_date' converted to datetime format.
Column 'issue_date' converted to datetime format.
Column 'earliest_credit_line' converted to datetime format.
Column 'next_payment_date' converted to datetime format.
Column 'last_credit_pull_date' converted to datetime format.

/home/barney/aicore/eda_projects/customer_loans_in_finance/exploratory-data-analysis---customer-loans-in-finance635/db_utils.py:93: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  """
/home/barney/aicore/eda_projects/customer_loans_in_finance/exploratory-data-analysis---customer-loans-in-finance635/db_utils.py:93: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  """
/home/barney/aicore/eda_projects/customer_loans_in_finance/exploratory-data-analysis---customer-loans-in-finance635/db_utils.py:93: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  """
/home/barney/aicore/eda_projects/customer_loans_in_finance/exploratory-data-analysis---customer-loans-in-finance635/db_utils.py:93: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  """

Now let's create an instance of the DataFrameInfo class from du_utils and test some of the methods.

In [16]:
df_info = dbu.DataFrameInfo(df)

AttributeError: module 'db_utils' has no attribute 'DataFrameInfo'